extends layout

block content

  form(action="/signup" method="POST")
      input(type="Text" placeholder="emailId" name="emailId")
      input(type="Text" placeholder="****" name="password")
      input(type="Text" placeholder="****" name="confirmPassword")
      input(type="Text" placeholder="Full Name" name="fullName")
      |
      input(type="submit")
      h2=message
