@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,800,800i');

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

.container-fluid{
  padding: 0 !important;
}

.row{
  width:100%;
}

header{
  position: relative;
  height: 10vh;
  width: 100%;
  box-shadow: 0 5px 5px #E0E0E0;
}

header h1{
  position: absolute;
  top:25%;left:5%;
  font-family: 'Roboto', sans-serif;
  font-size: 250%;
  font-weight: 900
}
.header-buttons{
  position: absolute;
  top:25%;right:5%;
  list-style-type: none;
}

.header-buttons li{
  display: inline-block;
  padding: 10px;
}

.motivation-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 200%;
  font-weight: 300;
  text-align: center;
  margin-top: 10vh;
  line-height: 7vh;
  padding-bottom: 2vh;
}

.projects{
  padding:2vw;
}

.projects-container{
  margin-top:2vh;
}

.sidebar{
  padding-top: 3vh;
}

.sidebar h3{
  padding: 10px;
}

.tags-div{
  width: 100%;
  max-height: 20vh;
  overflow-y: scroll;
}
.checkbox-text{
  padding: 5px;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.searchbar{
    margin-top: 1vh;
    margin-bottom: 1vh;
}