@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,800,800i');

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

.container-fluid{
  padding: 0 !important;
}

.row{
  width:100%;
}

header{
  position: relative;
  height: 100px;
  width: 100%;
  box-shadow: 0 5px 5px #E0E0E0;
}

header h1{
  position: absolute;
  top:25%; left:5%;
  font-family: 'Roboto', sans-serif;
  font-size: 250%;
  font-weight: 900
}
.header-buttons{
  position: absolute;
  top:25%;right:5%;
  list-style-type: none;
}

.header-buttons li{
  display: inline-block;
  padding: 10px;
}

.motivation-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 200%;
  font-weight: 300;
  text-align: center;
  margin-top: 10vh;
  line-height: 200%;
  padding-bottom: 2vh;
}

.projects{
  padding:2vw;
}

.projects-container{
  margin-top:2vh;
}

.sidebar{
  padding-top: 3vh;
}

.sidebar h3{
  padding: 10px;
}

.tags-div{
  width: 100%;
  max-height: 20vh;
  overflow-y: scroll;
}
.checkbox-text{
  padding: 5px;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.searchbar{
    margin-top: 1vh;
    margin-bottom: 1vh;
}



.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  padding: 1vh 1vw;
  font-weight: 300;
  font-size: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  max-height:100px;
  overflow-y: scroll;
  border: 1px solid #aaa;
  background-color: #fff;
  font-weight: 300;
  font-size: 80%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.loginbox{
  position: relative;
  background: white;
  padding: 2.5vh 2.5vw;
  width: 100%;
}

.vertical-center{
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.loginDialog{
  border: 1px solid #aaa;
  background: white !important;
  box-shadow: 0 5px 5px #E0E0E0;
  z-index: 100;
}

.loginDialog div h1{
  font-family: 'Roboto', sans-serif;
  font-size: 250%;
  font-weight: 900;
  text-align: center;
}
.loginButton{
  width: 100%;
}
